
#body{
  background-color: #D9EEE1;
}
h4{
  color: black;
}
.text1{
  font-weight: bold;
  color: white;
  margin-left: 2%;
  text-transform: uppercase;
}
#Courses{
margin-top: 30px;
text-align: center;
text-transform: uppercase;

}
.box1{
 box-shadow: 2px 2px 5px 2px grey;
  background-color: white;
  margin-top: 7%;
  border-radius: 5%;
}
.image{
  height: 50%;
  width: 100%;
  margin-top: 2%;

}
.box1:hover{
     box-shadow: 2px 2px 7px 5px  	#8FBC8F;
}
.free{
  color: black;
  font-size: 20px;
  .opacity: .8;
  text-align: center;
  font-weight: 700;
}
.about{
  color: black;
  margin-left: 25%;
  margin-right: 5%;
}
h6
{
    font-weight: 700;
      margin-left: 7%;
      text-align: center;
}
.buttons{

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #04AA6D;
    border: none;
    color: white;
    margin-bottom: 20px;
}
.image_check{
  width: 50%;
  height: 60%;
  min-height: 50%;
  margin-top: 10%;
  margin-left: 25%;

}
#footer{
  color: black;
  opacity: .8;
}
#text2{
  margin-left: 3%;
  margin-top: 1%;
}
